@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Temperature Calculator</h1>

</div>
<div class="container">
    <form class="">
        <div class="mb-3">
            <label for="degree" class="form-label">Celsius </label>
            <input type="number" class="form-control" id="degree" required>
           
        </div>
        <div class="mb-3">
            <label for="fahrenheit" class="form-label">Fahrenheit </label>
            <input type="number" class="form-control" id="fahrenheit" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Calculate</button>
    </form>
</div>